
body{
    margin:0;
    padding:0;

    font-family: Arial, sans-serif;

    background:#f9f5ef;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{

    background:white;

    width:350px;

    padding:40px;

    border-radius:20px;

    box-shadow:0 4px 20px rgba(0,0,0,0.1);

    text-align:center;
}

h1{
    color:#4a7150;
}

p{
    color:gray;
    margin-bottom:25px;
}

input{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border-radius:10px;

    border:1px solid #ccc;

    font-size:16px;
}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#4a7150;

    color:white;

    font-size:16px;

    cursor:pointer;
}

button:hover{
    background:#7a9e7e;
}

.bottom-text{
    margin-top:20px;
}

a{
    color:#4a7150;
    text-decoration:none;
    font-weight:bold;
}

